//**OPTIONS**
// ash
// fog
// rain
// snow
// clear
// ember
// storm
// drizzle
// acidrain
// icestorm
// sandstorm
// snowstorm
// windstorm
// spacedust
// spacejunk
// groundmist
// hailstones
// crystalrain
// glowingrain
// meteorshower
// largemeteor

{
  "weatherCooldownTime" : 10,
  "weatherWarmupTime" : 10,

  "clear" : [
    [1.0, "clear"]
  ],

  "moon" : [
    [0.7, "clear"],
    [0.07, "glowingrain"],
    [0.03, "meteorshower"]
  ],

  // T1

  "garden" : [
    [0.5, "rain"],
    [0.4, "storm"],
    [0.1, "clear"]
  ],

  // T2

  "desert" : [
    [0.9, "clear"],
    [0.1, "sandstorm"]
  ],

  "forest" : [
    [0.7, "clear"],
    [0.15, "rain"],
    [0.15, "drizzle"]
  ],

  // T3

  "savannah" : [
    [0.75, "clear"],
    [0.15, "rain"],
    [0.05, "windstorm"],
    [0.05, "sandstorm"]
  ],

  "snow" : [
    [0.5, "clear"],
    [0.4, "snow"],
    [0.1, "snowstorm"]
  ],

  "ocean" : [
    [0.8, "clear"],
    [0.1, "rain"],
    [0.1, "storm"]
  ],

  // T4

  "jungle" : [
    [0.8, "clear"],
    [0.1, "rain"],
    [0.1, "storm"]
  ],

  "toxic" : [
    [0.4, "clear"],
    [0.6, "acidrain"]
  ],

  "alien" : [
    [0.9, "clear"],
    [0.1, "glowingrain"]
  ],

  // T5

  "arctic" : [
    [0.2, "clear"],
    [0.5, "snow"],
    [0.3, "snowstorm"]
  ],

  "tundra" : [
    [0.3, "clear"],
    [0.2, "groundmist"],
    [0.4, "snow"],
    [0.1, "snowstorm"]
  ],

  "asteroids" : [
    [0.8, "clear"],
    [0.2, "spacedust"]
  ],

  "asteroidsMeteor" : [
    [0.7, "clear"],
    [0.2, "spacedust"],
    [0.05, "meteorshower"],
    [0.05, "largemeteor"]
  ],

  // T6

  "magma" : [
    [0.8, "clear"],
    [0.2, "glowingrain"]
  ],

  "magmaMeteor" : [
    [0.7, "clear"],
    [0.2, "glowingrain"],
    [0.05, "meteorshower"],
    [0.05, "largemeteor"]
  ],

  "volcanic" : [
    [0.8, "clear"],
    [0.2, "ember"]
  ],

  "volcanicMeteor" : [
    [0.7, "clear"],
    [0.2, "ember"],
    [0.05, "meteorshower"],
    [0.05, "largemeteor"]
  ],

  "scorched" : [
    [0.5, "clear"],
    [0.5, "sandstorm"]
  ],

  "scorchedMeteor" : [
    [0.4, "clear"],
    [0.4, "sandstorm"],
    [0.15, "meteorshower"],
    [0.05, "largemeteor"]
  ],

  // T7

  "tentacles" : [
    [1.0, "clear"]
  ]
}
